.button {
    background-color:  #6278F7;
    border-radius: 10px;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    margin: 32px 0;
    padding: 32px;
}

.button:hover {
    color: #95FFD4;
    transition: 2s;
}