.team {
    background-color: #D9F7E9;
    text-align: center;
    padding: 32px;
}

.team h3 {
    border-bottom: 4px solid #57c278;
    display: inline-block;
    font-size: 32px;
    padding-bottom: 8px;
}